html{
    scroll-behavior: smooth;
}

.card{
    margin-top: 30px;
    min-width : 35rem !important;
}

@media(max-width:576px){
    .card{
        max-width: 24rem !important;
        min-width: 24rem !important;
    }
}

.card-top img{
    max-width : 45px;
    max-height: 45px;
}

.card-top p{
    margin-top: 5px;
}

.card-header small{
    margin-left: 5px;
}

.card-header span:nth-child(2){
    margin-left: 3px;
    font-weight: bold;
}

.card .card-body{
    padding       : 0;
    padding-top   : 10px;
    padding-bottom: 5px;
}

.comment_btn:hover{
    cursor          : pointer;
    background-color: #fff !important;
}

.card a{
    text-decoration: none !important;
    color          : black;
    font-weight    : bold;
}

.card a:hover{
    color: black;
}

.card-body i{
    margin-right: 5px;
    font-size   : larger;
}

.card-bottom{
    border-top: 1px solid rgba(0,0,0,.125);
}

.card-bottom img{
    max-height: 30px;
    min-width : 30px;
}

.card-body p{
    font-weight: bold;
}

.comment span{
    font-size: small;
}

.comment p{
    margin-left: 30px;
    font-size  : .9375rem;
}

.card-bottom small:hover{
    cursor: pointer;
    color : gray;
}

.comment{
    margin-top: 15px;
}

.card-header textarea{
    width      : 490px;
    height     : 40px !important;
    margin-left: 32px;
}

@media(max-width:576px){
    .card-header textarea{
        width: 320px;
    }
}

.card-bottom small{
    display: block;
}

.card-bottom .img_input{
    position: relative;
    top     : 10px;
}

.number_comments{
    display        : flex;
    justify-content: flex-end;
}


