table{
    position: relative;
    top     : 105px;
    width   : 80% !important;
    left    : 10%;
}

tr:nth-child(even) {
    background-color:#dfe6e9!important;
}

.alert{
    margin-top: 85px;
    left: 4%;
    width: 95%;
}