.card{
    margin-top: 50%;
    min-width: 24rem !important;
}

.card span{
    font-weight: bold;
    line-height: 1.9;
}

.form-check{
    margin-bottom: 10px;
}

.alert{
    margin-top: 85px;
    left: 4%;
    width: 95%;
}