.navbar {
    background-color: #0070ba;
    background-image: linear-gradient( 100deg, #0070ba, #1546a0);
    position        : fixed !important;
    z-index         : 10;
    width           : 100%;
}

.navbar-brand{
    color: white !important;
}

body .sidebar_wrapper {
    background-color: #fff;
}

.navbar-collapse {
    justify-content: center;
}

.list-unstyled {
    margin-left: 20px;
}

.navbar_left {
    position: relative;
    top     : 10px;
}

.nav-item #navbarDropdown {
    color    : #fff;
    font-size: large;
}

.nav-item #navbarDropdown:hover {
    color: #b2bec3;
}

@media(min-width:992px) {
    .form-inline .search {
        width: 400px !important;
    }
}

@media(max-width:992px) {
    .search {
        width: 300px !important;
    }
}

@media(max-width:768px) {
    .search {
        width: 150px !important;
    }
}

@media(max-width:576px) {
    .form-search {
        display: none !important;
    }
}

.fa-search, .fa-bell {
    position : absolute;
    font-size: larger;
    color    : aliceblue;
}

.navbar_left .search_icon {
    right  : 115%;
    top    : 11px;
    display: none;
}

@media(max-width:576px) {
    .navbar_left .search_icon {
        display: inline-block;
    }
}

.fa-bell {
    right: 60px;
    top  : 11px;
}

.notifications{
    position: absolute;
    z-index : 4;
    top     : 60px;
    right   : 40px;
}

.notifications small{
    margin-left: 20px;
}

.notifications .rounded-circle{
    max-height  : 50px;
    margin-right: 10px;
}

.notifications p{
    position: relative;
    right   : -71px;
    bottom  : 22px;
}

.list-group-item{
    padding-bottom: 0 !important;
}

#notifs_count{
    position: relative;
    left    : 16px;
    bottom  : 15px;
    color   : red;
}

.container .fa-arrow-left, .fa-align-left {
    font-size: larger;
    color    : aliceblue;
}

.fa-align-left {
    padding-top: 2px;
}

.container .fa-arrow-left, .container .fa-align-left {
    display: none;
}

@media(max-width:768px) {
    .container .fa-align-left {
        display: inline-block;
    }
}

.container .navbar-brand {
    font-size: x-large;
}

.navbar i:hover {
    cursor: pointer;
    color : #b2bec3;
}

